{% extends "base.html" %}

{% block header %}
<h1>
  <img style="height:2.3rem;" src="/logo.png" /> Polydes · Stencyl Extensions
</h1>
{% endblock header %}

{% block main %}

<p>Code for this website and all hosted extensions can be found on <a href="https://github.com/polydes">Github</a>. A <a href="https://community.stencyl.com/index.php/board,144.0.html" >Stencyl subforum</a> is available for discussion of these extensions.</p>

<h4>Repositories</h4>
<ul>
  <li><b>Polydes</b>: <a href="/repo" >http://www.polydes.com/repo</a></li>
  <li><b>byrobingames</b>: <a href="/byrobingames" >http://www.polydes.com/byrobingames</a></li>
</ul>

{% endblock main %}